<script id="frontPageProductsTemplate" type="text/x-jquery-tmpl">
    <span>
    <!-- Start Left Sub Item -->
    <div class="front_page_products_left">
{{if data.list[0]}}
        <div class="front_page_products_header">
            <h1>${data.list[0].product}</h1>

            <h2>${data.list[0].SKU}</h2>
        </div>

        <div class="front_page_products_image">
            <img src="${data.list[0].attachments.image_full}" width="167" alt="Sub Item Name"/>
        </div>

        <div class="front_page_products_text">
            <p>${data.list[0].details}
            </p>
        </div>

        <div class="front_page_products_cartinfo">
            <div class="price">
                <h2>${data.list[0].price.price} (${data.list[0].price.unit})</h2>
            </div>
            <div class="clearthis">&nbsp;</div>
        </div>
{{/if}}
        <div class="clearthis">&nbsp;</div>

    </div>

    <!-- End of Left Sub Item -->


    <!-- Start Right Sub Item -->

    <div class="front_page_products_right">

{{if data.list[1]}}
        <div class="front_page_products_header">
            <h1>${data.list[1].product}</h1>

            <h2>${data.list[1].SKU}</h2>
        </div>

        <div class="front_page_products_image">
            <img src="${data.list[1].attachments.image_full}" width="167" alt="Sub Item Name"/>
        </div>

        <div class="front_page_products_text">
            <p>${data.list[1].details}
            </p>
        </div>

        <div class="front_page_products_cartinfo">
            <div class="price">
                <h2>${data.list[1].price.price} (${data.list[1].price.unit})</h2>
            </div>
            <div class="clearthis">&nbsp;</div>
        </div>
{{/if}}
        <div class="clearthis">&nbsp;</div>

    </div>
    <!-- End of Right Sub Item -->
    <div class="clearthis">&nbsp;</div>
    </span>
</script>