<script id="latestPromotionTemplate" type="text/x-jquery-tmpl">
        <div id="latest_promotion_header">
            <h1>${data.product}</h1>
            <h2>${data.code}</h2>
        </div>
        <div id="latest_promotion_image">
            <img src="/proxy${data._url}/attachment/image_full?ticket=${data._ticket}" width="242" alt="${data.product}"/>
        </div>
        <div id="latest_promotion_text">
            <p>${data.details}</p>
        </div>
        <div id="latest_promotion_link">
            <a href="#">.....Read More</a>
        </div>
        <div class="clearthis">&nbsp;</div>
</script>