<script id="relatedProductsTemplate" type="text/x-jquery-tmpl">
    <div class="related-products">
        <div class="related-products-title">Related Products:</div>
        <ul>
        {{each data}}
            <li>
                <div class="related-product">
                    <div class="related-product-image">
                        <img src="${attachments.image_thumbnail}"/>
                    </div>
                    <div class="related-product-info">
                        <div class="related-product-title"><a href="#/product/${_qname}">${title}</a></div>
                        <div class="related-product-description">${description}</div>
                    </div>
                </div>
            </li>
        {{/each}}
        </ul>
    </div>
</script>