<script id="socialGraphTipTemplate" type="text/x-jquery-tmpl">
    {{if data.isAssociation}}
        {{if data.associationType == "theoffice:manages"}}
            <div class='tip-title'>Manage</div>
            <div class='tip-text'>
                <span class='sub-title'>Supervisor:</span>
                <span class='sub-text'>${data.sourceUser}</span>
            </div>
            <div class='tip-text'>
                <span class='sub-title'>Subordinate:</span>
                <span class='sub-text'>${data.targetUser}</span>
            </div>
            {{if data.startDate}}
                <div class='tip-text'>
                    <span class='sub-title'>Start Date:</span>
                    <span class='sub-text'>${data.startDate}</span>
                </div>
            {{/if}}
            {{if data.endDate}}
                <div class='tip-text'>
                    <span class='sub-title'>End Date:</span>
                    <span class='sub-text'>${data.endDate}</span>
                </div>
            {{/if}}
        {{/if}}
        {{if data.associationType == "theoffice:inRelationshipWith"}}
            <div class='tip-title'>Relation</div>
            <div class='tip-text'>
                <span class='sub-title'>Party A:</span>
                <span class='sub-text'>${data.sourceUser}</span>
            </div>
            <div class='tip-text'>
                <span class='sub-title'>Party B:</span>
                <span class='sub-text'>${data.targetUser}</span>
            </div>
            {{if data.type}}
                <div class='tip-text'>
                    <span class='sub-title'>Type:</span>
                    <span class='sub-text'>${data.type}</span>
                </div>
            {{/if}}
            {{if data.startDate}}
                <div class='tip-text'>
                    <span class='sub-title'>Start Date:</span>
                    <span class='sub-text'>${data.startDate}</span>
                </div>
            {{/if}}
            {{if data.endDate}}
                <div class='tip-text'>
                    <span class='sub-title'>End Date:</span>
                    <span class='sub-text'>${data.endDate}</span>
                </div>
            {{/if}}
        {{/if}}
    {{else}}
        <div class='tip-title'>${data.name}</div>
        {{if data.currentPosition}}
            <div class='tip-text'>${data.currentPosition}</div>
        {{/if}}
        {{if data.avatar}}
            <div class='tip-text'><img src='${data.avatar}'/></div>
        {{/if}}
    {{/if}}
</script>