<script id="socialGraphUserDetailsTemplate" type="text/x-jquery-tmpl">
    <div class="user-avatar"><img src="${data.user.attachments.avatar}"/></div>
    <div class="user-info">
        <div class="user-name">${data.user.firstName} ${data.user.lastName}</div>
        <div class="user-email">${data.user.email}</div>
        <div class="user-position">${data.personNode.currentPosition}</div>
        <div class="user-gender">${data.personNode.gender}</div>
        <div class="user-biography">${data.personNode.biography}</div>
        <div class="supervisors">Supervisors</div>
        {{each data.supervisors}}
            <div class="supervisor user" id="${userId}"></div>
        {{/each}}
        <div class="subordinates">Subordinates</div>
        {{each data.subordinates}}
            <div class="subordinate user" id="${userId}"></div>
        {{/each}}
        <div class="relationships">Relationships</div>
        {{each data.relationships}}
            <div class="relationship user" id="${userId}">(${type})</div>
        {{/each}}
    </div>
</script>