<script id="userReviewIndicatorsTemplate" type="text/x-jquery-tmpl">
    <div>
        <div class="helpfulindicator">
        </div>
        <div class="spamindicator">
        </div>
        <div class="helpfulindicator-toolbar"><b>Was this review helpful to you ?</b>  <a class="helpfulbutton" href="#">Yes</a> <a class="unhelpfulbutton" href="#">No</a></div>
        <div class="spamindicator-toolbar">(<a class="spambutton" href="#">Mark this review as inappropriate</a>)</div>
    </div>
</script>