<script id="userReviewIndicatorsTemplate" type="text/x-jquery-tmpl">
    <div>
        <div class="spamindicator">
        {{if data.spamCounter}}
            ${data.spamCounter} people marked this review as spam or offensive.
        {{else}}
            Not spam.
        {{/if}}
        </div>
        <a class="spambutton" href="#">Mark it as spam</a>
        <div class="helpfulindicator">
        {{if data.helpfulCounter && data.totalCounter}}
            ${data.helpfulCounter} out of ${data.totalCounter} found this review helpful.
        {{else}}
            0 out 0 people found this review helpful.
        {{/if}}
        </div>
        <div>Was this review useful ? <a class="helpfulbutton" href="#">Yes</a> <a class="unhelpfulbutton" href="#">No</a></div>
    </div>
</script>